<div class="mainContainer">

 
 <div class="biggerCircleBackground"></div>
 <div class="bolbBackground"></div>
 <div class="backgroundWave"></div>
 <div class="group6"></div>
 <div class="products"><p class="menuOptions">Products</p></div>
 <div class="Solution"><p class="menuOptions">Solutions</p></div>
 <div class="Pricing"><p class="menuOptions">Pricing</p></div>
 <div class="Login">Login </div>
 <div class="LoginBox"></div>
<div class="GetStarted" ></div> 
 <button class="GetStartedBox">Get Started</button>
 <div class="collect"></div>
 <div class="imageSuper"></div>
 <div class="rectangle"></div>
 <div class="accountingDots"></div>
 <div class="logo"></div>
 <div class="accountingDotsRight"></div>
 <div class="rectangleCopy23"></div>
 <div class="paidInstantly"></div>
 <div class="qucikDisburse"></div>
 <div class="termLoan"></div>
 <div class="businessFinancesBox"></div>
 <div class="businessFinancesImage"></div>
 <div class="businessFinancesHeading"></div>
 <div class="businessFinancesContent"></div>
 <div class="lowInterestRateBox"></div>
 <div class="lowInterestRateImage"></div>
 <div class="lowInterestRateHeading"></div>
 <div class="lowInterestRateContent"></div>
 <div class="loansForCovidBox"></div>
 <div class="loansForCovidImage"></div>
 <div class="loansForCovidHeading"></div>
 <div class="loansForCovidContent"></div>
 <div class="paperworkBox"></div>
 <div class="paperworkImage"></div>
 <div class="paperworkHeading"></div>
 <div class="paperworkContent"></div>
 <div class="boostBusinessHeading"></div>
 <div class="boostBusinessHeadingUnderline"></div>
 <div class="getHandsOn"></div>
 <div class="openAccount">Get an Open Account</div>
 <div class="openAccountOutline"></div>
</div>






<router-outlet></router-outlet>